# App
NODE_ENV=production
PORT=5001
MONGO_URI=
JWT_SECRET=
SESSION_SECRET=

# URLs
BACKEND_PUBLIC_URL=https://sanjayrijal.com.np
FRONTEND_URL=https://sanjayrijal.com.np
CORS_ORIGINS=https://sanjayrijal.com.np

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://sanjayrijal.com.np/api/v1/auth/google/callback

# Email
EMAIL=
PASSWORD=

# eSewa
ESEWA_BASE_URL=https://rc-epay.esewa.com.np
ESEWA_STATUS_BASE_URL=https://rc.esewa.com.np
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=

# Khalti
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_SECRET_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
